.section{
    height: 100vh;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    background:#ffc802	
    /* background-image: url(../img/poke.png); */
    /* background-position: center;
    background-repeat: no-repeat; */
    /* background-size: contain; */
    /* overflow-x: none ; */ 
}

.img{
    position: absolute;
    height: 80%;
    width: 45%;
    background-image: url(../img/pika.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: .5rem;
    right: 5rem;

}

.img2{
    position: absolute;
    height: 25%;
    width: 25%;
    background-image: url(../img/pngwing.com.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 19rem;
    left: 10rem;
}

.landing{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18rem;
    color: white;   
    letter-spacing: -1rem;
    margin-top: 1rem;
    margin-bottom:4rem ;
}

 .button{
    display: flex;
    align-items: center;
    justify-content: center;
    
} 

.button button{
    border: none;
    background: #140000;
    height: 3rem;
    width: 8rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

a{
    color:#e7b501	;	
    text-decoration: none;
}