.section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Roboto Condensed', sans-serif;
    margin: 2rem;
    justify-content: center;
}

.section img{
    max-width: 10rem;
}

h1, h2{
    font-weight: 300;
}
