.section {
  background-color: rgba(255, 255, 255, 0.392);
  height: 30rem;
  width: 20rem;
  border: 3px solid rgba(255, 255, 255, 0.793);
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.buscador {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

button {
  width: 4rem;
  height: 1.8rem;
  font-size: small;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
