.section {
  background-color: rgb(23, 6, 116);
  position: fixed;
  height: 100vh;
  left: 0;
  width: 20%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: -0.5rem;
  height: 2rem;
  width: 100%;
  border-radius: 2rem;
  border: none;
}

.buscador button {
  width: 4rem;
  height: 1.8rem;
  font-size: small;
  display: flex;
  align-items: center;
}

.page {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  top: 70%;
}
.page button{
  color: white;
  background: none;
  border: none;
  font-size: 5rem;
  cursor: pointer;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
