.section{
    height: 100%;
    width: 100%;
    margin-left: 23%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 2rem;
    border-radius: 4rem;
    background-color: rgb(239, 239, 239);
    /* border: 3px solid black; */
}

.Cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}